:root {
    --typewriter-characters: 30;
    --caret-color: var(--clr-primary-900);
}

.advice-form {
    &__text {
        color: var(--clr-primary-000);
        background: linear-gradient(-90deg, var(--clr-primary-900) 2px, var(--clr-primary-000) 0) 0
                0,
            linear-gradient(var(--clr-primary-900) 0 0) 0 0;
        background-size: 100% 200%;
        -webkit-background-clip: padding-box, text;
        background-clip: padding-box, text;
        background-repeat: no-repeat;

        &_typing {
            animation: typewriter calc(var(--typewriter-characters) / 8.57 * 1s)
                    steps(var(--typewriter-characters)) forwards,
                blink-caret 0.8s step-end infinite;
        }
    }
}

@keyframes typewriter {
    from {
        background-size: 0 200%;
    }
}
@keyframes blink-caret {
    50% {
        background-position: 0 -100%, 0 0;
    }
}
