:root {
    --color-brand: #c7c4ff;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-inactive: gray;
    --radius: 0.7rem;
    --btn-width: 6rem;

    --swiper-theme-color: var(--color-brand);
    --swiper-pagination-bullet-inactive-color: var(--color-inactive);
}

.search-advice {
    &__form {
        position: relative;
        width: 33rem;
        background: var(--color-brand);
        border-radius: var(--radius);
    }

    &__input,
    &__button {
        height: 2rem;
        border: 0;
        color: var(--color-dark);
        font-size: 0.8rem;
    }

    &__input {
        width: 100%;
        background: var(--color-light);
        padding: 0 1.6rem;
        border-radius: var(--radius);
        transition: all 0.7s cubic-bezier(0, 0, 0.43, 1.49);
        position: relative;
        border: 1px solid var(--color-dark);
    }

    &__input:focus-visible {
        outline: var(--color-brand) auto 1px;
    }

    &__input:not(:placeholder-shown) {
        border-radius: var(--radius) 0 0 var(--radius);
        width: calc(100% - var(--btn-width));
        + button {
            display: block;
        }
    }
    &__input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

    &__button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: var(--btn-width);
        background: var(--color-brand);
        border-radius: 0 var(--radius) var(--radius) 0;
        cursor: pointer;
    }

    &__button::before {
        content: "\f002";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;

        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}

.search-results {
    &__error-message {
    }
}

.swiper-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 100px;
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}
