.search-advice {

    &__form {}

    &__input {}

    &__button {}
}

.search-results {

    &__error-message {}
}

.swiper-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {}
}
