:root {
    --radius: 0.7rem;
    --btn-width: 6rem;

    --swiper-theme-color: var(--clr-primary-400);
    --swiper-pagination-bullet-inactive-color: var(--clr-primary-700);
}

.search-advice {
    &__loader {
        text-align: center;
    }

    &__form {
        position: relative;
        margin: 10px auto;

        background: var(--clr-primary-400);
        border-radius: var(--radius);

        width: 50vw;
        @media (max-width: 50em) {
            width: 90vw;
            --btn-width: 20%;
        }
    }

    &__input,
    &__button {
        height: 2rem;
        border: 0;
        color: var(--clr-primary-900);

        font-family: var(--ff-primary);
        font-size: var(--fs-200);
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 0 1.6rem;
        border-radius: var(--radius);
        transition: all 0.7s cubic-bezier(0, 0, 0.43, 1.49);
        border: 1px solid var(--clr-primary-900);
    }

    &__input:focus-visible {
        outline: var(--clr-primary-400) auto 1px;
    }

    &__input:not(:placeholder-shown) {
        border-radius: var(--radius) 0 0 var(--radius);
        width: calc(100% - var(--btn-width));
        + button {
            display: block;
        }
    }
    &__input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

    &__button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: var(--btn-width);

        background: var(--clr-primary-400);
        border-radius: 0 var(--radius) var(--radius) 0;
        cursor: pointer;
    }

    &__button::before {
        content: "\f002";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;

        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}

.search-results {
    &__error-message {
        font-family: var(--ff-primary);
        font-size: var(--fs-400);
        color: var(--clr-primary-800);
        text-transform: lowercase;

        text-align: center;
    }
}

.swiper {
    height: 200px;
    margin: 1rem;
    cursor: pointer;

    &__advice-form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
