.header {
    &__title {
        text-align: center;
    }
}

.title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.35rem;

    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: var(--clr-primary-900);
    }
}
