.footer {
    margin-top: auto;

    &__text {
        text-align: center;
    }
}

.text {
    font-family: "FakeReceipt-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &::before {
        content: "";
        height: 1px;
        left: 50%;
        background-color: #000;
        display: block;
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

    a:link {
        color: #4f49a8;
    }

    a:visited {
        color: #9390c1;
    }

    a:focus {
        border-bottom: 1px solid;
        background: #c7c4ff;
    }

    a:hover {
        border-bottom: 1px solid;
        background: #dedcff;
    }

    a:active {
        background: #5b5a76;
        color: #dddcfb;
    }
}
